%btn {
    padding: .7rem 1rem;
    cursor: pointer;
    border: none;
    font-weight: 700;
}

.btn-primary {
    @extend %btn;
    background: $primary-color;
    border-radius: 3px;
    color: $primary-color2;
    position: relative;
    z-index: 2;
    transition: .4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1rem;

    svg {
        transition: .4s;
        margin-left: .2rem;
    }
    &:hover {
        opacity: .9;
        svg {
            transform: translateX(3px);
        }
    }
}