*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #EF0633;
$primary-color-light: rgba(239, 6, 51, 0.7);
$primary-color2: #ffffff;
$secondary-color: #565656;
$secondary-color-light: rgba(33, 34, 35, 0.7);
$shade: #979797;
$light-pink: rgba(249, 155, 173, 0.5);